h1{
    color:purple;
    font-family:Cursive;
    }
    .card-container{
    border-width:1px;
    border-radius:10px;
    }
    body{
    text-align:center;
    color:green;
    justify-content: center;
    align-items: center;
    background-image:url("https://png.pngtree.com/background/20210709/original/pngtree-books-education-education-and-training-creative-synthesis-picture-image_948473.jpg");
    background-size:cover;
    height:90vh;
    font-family:roboto;
    font-size:18px;
    margin-top:90px;
    }